

/* #root {
  background: rgb(34, 34, 34);
  width: 350px;
  height: 350px;
  border-radius: 20px;

} */

/* .app {
  background: rgb(34, 34, 34);
  width: 350px;
  height: 350px;
  border-radius: 20px;

} */